USE [master]
GO
/****** Object:  Database [YoklamaSistemiDB]    Script Date: 26.12.2025 ÖS 11:33:42 ******/
CREATE DATABASE [YoklamaSistemiDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'YoklamaSistemiDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\YoklamaSistemiDB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'YoklamaSistemiDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\YoklamaSistemiDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [YoklamaSistemiDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [YoklamaSistemiDB]
GO
/****** Object:  Table [dbo].[Katilimcilar]    Script Date: 26.12.2025 ÖS 11:33:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Katilimcilar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[studentID] [bigint] NULL,
	[name] [nvarchar](50) NULL,
	[surname] [nvarchar](50) NULL,
	[yoklama_kod_id] [int] NULL,
	[katilis_tarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[logins]    Script Date: 26.12.2025 ÖS 11:33:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[logins](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[loginName] [nvarchar](50) NULL,
	[loginPass] [nvarchar](50) NULL,
	[root] [int] NULL,
	[name] [nvarchar](20) NULL,
	[surname] [nvarchar](20) NULL,
	[studentID] [bigint] NULL,
	[teacherID] [bigint] NULL,
 CONSTRAINT [PK_logins] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YoklamaKodlari]    Script Date: 26.12.2025 ÖS 11:33:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YoklamaKodlari](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ders_kodu] [nvarchar](50) NULL,
	[olusturan_hoca_id] [int] NULL,
	[durum] [bit] NULL,
 CONSTRAINT [PK__YoklamaK__3213E83F9A01FCCA] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Katilimcilar] ADD  DEFAULT (getdate()) FOR [katilis_tarihi]
GO
ALTER TABLE [dbo].[YoklamaKodlari] ADD  CONSTRAINT [DF__YoklamaKo__durum__239E4DCF]  DEFAULT ((1)) FOR [durum]
GO
USE [master]
GO
